/* .login-container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.login-container h1 {
    margin-bottom: 20px;
} */

/* .right-side {
    position: fixed;
    top: 0;
    right: 2500px;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    transition: left 0.3s;
    z-index: 1050;
    padding-top: 80px;
} */

/* .right-close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}

.right-close-btn img {
    width: 30px;
    height: 30px;
} */