/* Main Body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Arial', sans-serif;
    text-transform: uppercase;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Background */

.background-video {
    opacity: 90%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.background-image {
    opacity: 70%;
    position: fixed;
    background-size: 150%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content-overlay {
    position: relative;
    z-index: 1;
    flex: 1;
} /* Content Overlay that floats over the video */

/* Header */

header {
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.468);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.header-container h1 {
    letter-spacing: -1px;
    text-decoration: underline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5rem;
    font-style: oblique 60deg;
    font-weight: bold;
}

.header-container a, .hero-content a {
    text-decoration: none;
    color: #000000;
}

.cta-button a {
    color: #ffffff;
}

.menu-icon, .login-icon {
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 0;
    border: none;
}

.menu-icon img, .login-icon img {
    width: 30px;
    height: 30px;
}

/* Main Content */

.hero {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    position: relative;
    color: white;
    z-index: 1;
    width: 100%;
}

.hero h2 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 12.5px;
    margin-bottom: 0.5rem;
}

.hero .highlight {
    font-size: 6.5rem;
    font-weight: 500;
    letter-spacing: 5px;
}

.cta-button {
    padding: 1rem 2rem;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.cta-button:hover {
    background-color: #ff7a7f;
}

.no-joining-fee {
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 16px;
    max-width: 1000px;
    color: #ff5a5f;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.529);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgb(0, 0, 0);
    display: block;
    margin: 1rem auto;
}

.subscribe-button {
    padding: 1rem 2rem;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    display: inline-block;
}

.subscribe-button:hover {
    background-color: #ff7a7f; /* Slightly lighter on hover */
}

.free-trial {
    background-color: rgba(255, 255, 255, 0.529);
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgb(0, 0, 0);
    max-width: 45%;
    margin: 2rem auto;
}

.free-trial h3 {
    text-decoration: underline;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
}

.free-trial p {
    margin: 1rem 0;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
}

.book-button {
    color: #ff5a5f;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    border-bottom: 1px solid #ff5a5f;
    padding-bottom: 2px;
}

.book-button:hover {
    color: #ff7a7f;
    border-bottom-color: #ff7a7f;
}

.exclusive-access {
    padding: 2rem;
    text-align: center;
    text-decoration: underline;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 350px;
}

.feature {
    flex: 1;
    max-width: 150px;
    margin: 1rem;
    text-align: center;
}

.feature img {
    height: 100px;
    width: 100px;
}

/* Menu Sidebar Specific Styles */
.menu-sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-sidebar h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.menu-sidebar nav ul {
    list-style: none;
    padding: 0;
}

.menu-sidebar nav ul li {
    text-align: center;
    margin-bottom: 1rem;
}

.menu-sidebar nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-sidebar nav ul li a:hover {
    color: #ff5a5f;
}

.menu-sidebar .close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Menu Sidebar Open State */
.left-sidebar-open {
    left: 0; /* Slide in from the left */
}


/* Sidebar Common Styles */

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 4rem;
    font-style: oblique 60deg;
    text-transform: uppercase;
}

.sidebar form {
    display: flex;
    flex-direction: column;
}

.sidebar input {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sidebar-btn {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.sidebar-btn:hover {
    background-color: #ff7a7f;
}

.sidebar p {
    text-align: center;
    font-size: 0.9rem;
}

.sidebar p a {
    color: #ff5a5f;
    text-decoration: underline;
    font-weight: bold;
}

.sidebar p a:hover {
    color: #ff7a7f;
}

/* Sidebar Login and Register */
.login-sidebar {
    right: -100%; /* Start offscreen */
}

.register-sidebar {
    right: -100%; /* Start offscreen */
}

/* Sidebar Open States */
.right-sidebar-open {
    right: 0; /* Slides in when open */
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Footer */

footer {
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.668);
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    z-index: 1;
    width: 100%;
    position: relative;
    bottom: 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

footer .social-icons {
    margin-bottom: 1rem;
}

footer .social-icons a {
    margin: 0 10px;
}

footer p {
    font-size: 0.9rem;
}
